.switcherLang {
  position: fixed;
  top: 7rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--bg-black-900);
  color: var(--text-black-900);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--text-black-900);
  z-index: 10;
  transition: all 0.5s ease;
}

.switcherLang:hover {
  transform: scale(1.08);
}