.aside {
    position: sticky;
    top: 0;
    width: 27rem;
    min-height: 100%;
    background-color: var(--bg-black-100);
    padding: 3rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}