.card {
    display: block;
    width: 27rem;
    border: 3px solid var(--text-black-900);
}

.cardImg {
    width: 100%;
}

.cardImg img{
    width: 100%;
}

.cardInfo{
    padding: 1rem;
}

.cardInfo p {
    font-size: 1.6rem;
    color: var(--text-black-700);
    text-align: justify;
}

.cardInfo h2 {
    color: var(--text-black-900);
    text-align: center;
    font-size: 1.8rem;
}