.header {
    position: sticky;
    display: flex;
    width: 100%;
    padding: 0 1.5rem;
    background-color: #353232;
}

.nav {
    display: flex;
}

.menu-item {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}