.work{
    width: 100%;
    color: var(--text-black-900);
    background-color: var(--bg-black-900);
}

.workContent {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

@media screen and (max-width:767px) {
    .work{
        padding-bottom: 10.5rem;
    }
    
}